<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/cs/test.css" rel="stylesheet"> -->
    <link href="{% static 'note/css/style.css' %}" rel="stylesheet">
    <!-- <link href="/cs/w.css" rel="stylesheet"> -->


</head>
<body>
<section id="hero">
    <form  autocomplete="off" method="post">
        {% csrf_token %}
    <nav>
        <div class="contain-menu">
            <img src="{% static 'note/image/hero-logo.png' %}">
            <h1>NotePad</h1>
            <div class="menu">
                <!-- <div class="input-themes"> -->
                {% if post.title %}
                <input name="title" placeholder="Название темы" value="{{ post.title }}">
                {% else %}
                <input name="title" placeholder="Название темы" >
                {% endif %}
                <a><button class="btn-send " type="submit">Сохранить</button></a>
                <a href="{% url 'notes' %}">Мои записи</a>
            </div>
            <div class="menu">
                <a href="{% url 'logout' %}"> {{ user.username }} | Loguot</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            {% if post.content %}
            <textarea name="content" class="fonarea">{{ post.content }}</textarea>
            {% else %}
            <textarea name="content" class="fonarea"></textarea>
            {% endif %}
        </div>
    </form>
</section>
</body>
</html>