<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'note/css/style.css' %}" rel="stylesheet">

</head>
<body>
<section id="hero">
    <form action="{% url 'delete' note_slug %}" autocomplete="off" method="post">
    {% csrf_token %}
    <nav>
        <div class="contain-menu">
            <img src="{% static 'note/image/hero-logo.png' %}">
            <h1>NotePad</h1>
            <div class="menu">
                <!-- <div class="input-themes"> -->
                <input name="title" placeholder="Название темы" value="{{ post.title }}">
                <!-- </div> -->
                <a href="{% url 'add_note' %}">Создать</a>
                <a href="{% url 'update' note_slug %}">Изменить</a>
                <a><button class="btn-send " type="submit">Удалить</button></a>
            </div>
            <div class="menu">
                <a href="{% url 'logout' %}"> {{ user.username }} | Loguot</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            <textarea name="content" class="fonarea">{{ post.content }}</textarea>
        </div>
        {% for p in list %}
        <div class="link">
            <div class="text"><a class="href-block" href="{{ p.get_absolute_url }}">{{p.title}} </a></div>
        </div>
        {% endfor %}

</section>
</body>
</html>